:root{
 --darkblue: #0D4C73;
 --paleblue: #0D5673;
 --aqua:  #1790BF;
 --lightblue : #59C1D9;
 --paleyellow: #F2D399;
 --white: #f7f8fa;
 --black: #171321;
 --font-size: 1.4rem;
 --primaryfont: "Rufina", serif;
 --secondaryfont: "Oxygen", monospace; 
}
html{
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    padding:0;
    font-family: var(--primaryfont);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
    
}
h1, h2, h3 {
    margin:0;
    
}
a{
    color: var(--aqua);
    
}
a:hover{
    color: var(--lightblue);
    text-decoration: none;
}
img{
    width: 100%;
    }
ul{
    margin:0;
}
.gradient{
    height: 3px;
    background: rgb(23,19,33);
background: linear-gradient(90deg, rgba(13,76,115,1) 0%, rgba(23,144,191,1) 50%, rgba(89,193,217,1) 75%, rgba(242,211,153,1) 100%);
}
/* intro section*/
#intro{
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}
#intro p{
    font-size: 1rem;
    line-height: 1.5;
}
#intro .name{
    font-family: var(--primaryfont);
}
.name span{
    font-family: var(--secondaryfont);
    font-size:4rem;
    color: var(--paleyellow);
    display: block;
    font-weight: 700;
}
#intro h2{
    font-size: 3rem;
    font-weight: 400;
    width: 75%;
}
h2 span{
     
}
/*project scetion */

#projects{
    padding: 3rem;
    max-width: 1200px;
    margin: 0 auto; 
    display: grid;

}
#projects .project-heading{
    color:var(--paleyellow);
    margin-bottom: calc(2.5rem * 1.5); 
}
#projects .sub-title{
    font-family: var(--secondaryfont);
    margin: 0;
    padding: 0;
}
#projects .title{
    color: var(--aqua);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
#projects .description{
    background-color: var(--black);
    border-radius: 10px;
    text-align: left;
    padding: 1.2rem 0.5rem;
}
#projects .technology{
    list-style: none;
    display: flex;
    text-align: left;
    gap: 1rem;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
}
#projects .project-screenshot{
    
    padding:1rem;
    border-left: 1px solid var(--lightblue);
    border-top: 1px solid var(--lightblue);;
    border-radius: 10px;
}
#projects .project{
    margin-bottom: 2rem;
}


/* contact section*/
.section-drkblue{
    background-color: var(--darkblue);
    width: 100vw;
}
#contact{
    text-align: center;
    line-height: 1.5;
    width: 400px;
    margin: 0 auto;
    padding: 2rem 0;
    
}
#contact h3{
    font-weight: 400;
}
#contact p{
    font-size: var(--font-size);
}
#contact .connect{
    padding: 0.75rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
}
.connect a{
    text-decoration: none;
}
/* nav-bar */
nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 80%;
    padding: 1rem 1rem 4rem 3rem;
    align-items: center;
    color: var(--white);
    max-width: 1200px;
    margin: 0 auto;
}
nav h1{
    font-family: var(--primaryfont);
    font-weight: 400;
    text-align: left;
    color: var(--aqua);
    text-align: center;
    margin-right: auto;
}
nav ul{
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    justify-content: center;
    gap: 2rem;
    align-items: center;
   
}
nav [class*="fa-"]{
    font-size: 130%;
}
nav h1 [class*="fa-"]{
    font-size: 75%;
    color: var(--paleyellow)

}
nav ul li{
    font-style: var(--secondaryfont);
   
}
nav a{
    text-decoration: none;
    display: block;
    
}
.button{
    padding: 1rem;
    background-color: var(--paleyellow);
    color: var(--darkblue);
    border-radius: 10px;
}
.button:hover{
    color: var(--lightblue);
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer ul{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-size: 2rem;
padding: 0;}

footer ul li{
    flex-basis: 100%;
    text-align: center;
    padding: 0;
}
 

@media (max-width: 805px){
    nav{
        justify-content: center;
    }
    nav h1{
        flex-basis: 100%;
       
       margin-bottom: 1rem;;
    }
    
}
@media (min-width: 800px){
    .project{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        gap: 1rem;
    }
    .project .project-description{
       order: 2;
       text-align: right;
       grid-column: 5/11;
       grid-row: 1/2;
       
    }
    #projects .technology{
        justify-content: flex-end;
    }
    .project .project-img{
        grid-column: 1/6; 
        grid-row: 1/2; 
    }
    #projects .reverse .project-description{
        order: 2;
        text-align: left;
        grid-column: 1/7;


    }
    #projects .reverse .project-img{
        grid-column: 6/11;
    }
    #projects .reverse .technology{
        justify-content: flex-start;
    }
}